Package: pmink
Version:
Depends: luajit, libluajit-5.1-2, libmysqlcppconn7, libncurses5, libcurl4-gnutls-dev, libboost-all-dev, libcap2, libsnmp30, libpcap0.8, libsctp1
Section: net
Priority: optional
Architecture: amd64
Maintainer: Damir Franusic <df@release14.org>
Description: pMINK MNO components
